{
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
    admin off
}

# Визначення глобальних заголовків для відключення кешування
(nocache) {
    header {
        Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate"
        Pragma "no-cache"
        Expires "0"
        X-Accel-Expires "0"
        -ETag
    }
}

(common) {
    header /* {
        -Server
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "SAMEORIGIN"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
    encode gzip zstd
}

(error) {
    handle_errors {
        header -Server
        respond 404
    }
}

example.com {
    import common
    import error
    import nocache  # Імпортуємо відключення кешування для всього сайту

    log {
        output stderr
        format filter {
            wrap console
        }
        level INFO
    }

    log {
        output file /var/log/caddy/not-for-production-server.kusbot.com.log {
            roll_size 100MiB
            roll_keep 10
        }
        format json
        level INFO
    }

    root * /usr/share/caddy

    # Додаткові налаштування для статичних файлів
    @static {
        file
        path *.js *.css *.html *.png *.jpg *.jpeg *.gif *.svg *.ico
    }
    header @static {
        Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate"
        Pragma "no-cache"
        Expires "0"
    }

    file_server {
        index index.html
    }

    route /api/* {
        uri strip_prefix /api
        header {
            Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate"
            Pragma "no-cache"
            Expires "0"
        }
        reverse_proxy server:8000
    }
    
   
}
